.tile-image{
    display: flexbox; 
    /* padding-top: 8px; */
    justify-self: center;
    width: 70%;
    height: 85%;
}
.cl1{
    border: 0.2em solid red;
}
.cl2{
    border: 0.2em solid blue;
}
.cl3{
    border: 0.2em solid #2fdcffef;
}
