<!-- <div class="conteudo">
    
     <div class="orienta">
        <h2 style="text-align: center">
           Para Jogar:
        </h2>
         <br>
         <h3>
            <h3 style="text-align: center">
            Pecisa de Dois Cliques !
           </h3>
                <p>
                  Passo 1 - Clicar na pe&ccedil;a,
                 </p>
                <p>
                  Passo 2 - Clicar no destino
                </p>
    
        </h3>
        </div>
</div> -->
<!-- {{this.srv.menssagem}} -->

<span  (click)='this.pagina()' [innerHtml] = "this.srv.menssagem | safeHtml"></span>
