.conteudo{
    display: flex;
    text-align: center;
    margin: 10pt;
    color: white;
}
.orienta{
    display: block;
    float: left;
    text-align: left;
  }
  .orienta2{
    display: flexbox;
    justify-items: flex-start;
    flex-flow: column;
    margin: 0pt;
  }
  .prepg{
    display: flexbox;
    /* justify-items: flex-start; */
    /* flex-flow: column; */
    /* border: 3pt solid yellow; */
    /* margin: 0pt; */
  }
  input[type="radio"] {
    -ms-transform: scale(1.8); /* IE 9 */
    -webkit-transform: scale(1.8); /* Chrome, Safari, Opera */
    transform: scale(1.8);
}
