.clgeral{
    justify-items: center;
    width: 100%;
    height: 100%;
    box-shadow: 10px 30px 3em rgba(50, 50, 50, 1);
}
.celula{
    margin: 0%;
    padding: 0%;
    pad: 0px;
    margin: auto;
    background-color: #eae0cb;
    border: 1px solid #eae0cb; 
}
.conteudo{
    display: flex;
    width: 60%;
    height: 80%;
    margin: auto;
    background-color: #eae0cb;
}

.coluna-30 {
    width: 30%;
 }
.coluna-40 {
    width: 40;
} 

.content{
     display: flex;
     flex-direction: row; 
     justify-content:flex-start;
     margin: auto;
     margin-top: 30pt;
 }

 .placar_direito{
    display: inline-flexbox;
    height: 60%;
    margin: 40pt;
    justify-content: center;
 }

 .placar_direito>h2{
    display: block;
 }