.conteudo{
    display: block;
    text-align: center;
    margin: 10pt;
    color: white
    ;
}
.orienta{
    display: block;
    float: left;
    text-align: left;
  }
  .orienta2{
    display: flex;
    justify-items: flex-start;
    flex-flow: column;
    margin-left: 0;
  }
  